
# Disk & Memory
directory = /content/
session = /root/.rtorrent

# Incoming Connections (Port Range)
port_range = 40000-50000
port_random = yes

# Decentralized Peer Discovery
dht.mode.set = auto
protocol.pex.set = no
trackers.use_udp.set = no
dht_port = 6881

# Peers & Slot Availability
min_peers = 6
max_peers = 200
min_peers_seed = 6
max_peers_seed = 200
max_downloads_global = 250
max_uploads_global = 250
download_rate = 0
upload_rate = 0
trackers.numwant.set = 100
network.http.max_open.set = 50
network.max_open_files.set = 600
network.max_open_sockets.set = 300

# Enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# SCGI (for web UI or XML-RPC)
scgi_local = /root/.rtorrent/rtorrent.sock

# Logging
log.open_file = "rtorrent", "/root/.rtorrent/rtorrent.log"
log.add_output = "critical", "rtorrent"
log.add_output = "error", "rtorrent"
log.add_output = "notice", "rtorrent"
