
# Disk & Memory
directory = /content
session = /content/Tools/rTorrent/Session

# Incoming Connections (Port Range)
port_range = 40000-50000
port_random = yes

# Decentralized Peer Discovery
dht = auto
dht_port = 6881
min_peers = 1
min_peers_seed = 1

# Enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# SCGI local
scgi_local = /content/Tools/rTorrent/rtorrent.sock
