
# Disk & Memory
directory = /content/drive/MyDrive/Downloads
session = /content/tools/rTorrent/session

# Incoming Connections (Port Range)
port_range = 40000-50000
port_random = yes

# Decentralized Peer Discovery
dht = auto
dht_port = 6881
min_peers = 1
min_peers_seed = 1
network.http.max_open.set = 100

# Enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# SCGI local
scgi_local = /content/tools/rTorrent/rtorrent.sock
