
# Disk & Memory
directory = downloads
session = tools/rtorrent/session
check_hash = yes

# Incoming Connections (Port Range)
port_range = 50000-50000
port_random = no

# Decentralized Peer Discovery
dht = auto
dht_port = 6881
trackers.use_udp.set = yes
protocol.pex.set = yes
min_peers = 1
min_peers_seed = 1
network.http.max_open.set = 100

# Enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# SCGI port
scgi_port = 127.0.0.1:5000
